ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer {
  background-color: $veryDarkViolet;
  width: min(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include md {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem 0;
  }

  &__branding {
    margin: 3rem 0;

    @include md {
      margin: 0 3rem 0 1rem;
    }
  }

  &__nav {
    @include md {
      display: flex;
      text-align: left;
      margin-left: 1rem;
      gap: 4.5rem;
    }
  }

  &__name {
    display: block;
    color: $white;
    margin-bottom: 1rem;
  }

  &__item {
    margin-bottom: 0.75rem;

    &:last-of-type {
      margin-bottom: 2.5rem;

      @include md {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $gray;
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 4rem;
    @include md {
      margin-right: 1rem;
      flex-direction: column;
    }
  }
}
